section.show-section {
  width: 60%;
  height: 90%;
  margin: 0;
  float: left;
}

div.text-show1 {
  width: 25%;
  height: 4.2%;
  margin: 1px;
  margin-top: 1.5%;
  float: left;
  position: relative;
  text-align: middle;
}

.stopping {
  width: 10%;
  height: 4.2%;
  margin:0;
  margin-top: 0.8%;
  margin-right: 5px;
  float: right;
  position: relative;
  text-align: middle;
  border: none;
  background-color: Black;
  color: white;
}
