@keyframes SlowDisappear{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes SlowAppear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slowDelayDisappear {
  animation-name: SlowDisappear;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.slowDisappear {
  animation-name: SlowDisappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.slowAppear {
  opacity: 0;
  animation-name: SlowAppear;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}