@keyframes pqPushCameOut{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pqPushErase {
  opacity: 0;
  animation-name: pqPushCameOut;
  animation-delay: 0.9s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.animationAfter1s {
  opacity: 0;
  animation-name: pqPushCameOut;
  animation-delay: 1s;  
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.appearAfter2s {
  opacity: 0;
  animation-name: pqPushCameOut;
  animation-delay: 2s;  
  animation-duration: 1s;
  animation-fill-mode: forwards;
}