@keyframes ListPopBackCameOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.removing {
  animation-name: ListPopBackCameOut;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.popBackMoving {
  animation-name: ListPopBackMove;
  animation-fill-mode: forwards;
}

@keyframes ListPopBackMove {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-85px);
  }
}