@keyframes ListPushBackCameOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.newAnimation {
  animation-name: ListPushBackCameOut;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.pushBackMoving {
  animation-name: ListPushBackMove;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes ListPushBackMove {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(85px);
  }
}