@keyframes ListPushFrontMove {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(85px)
  }
}

.front_origin {
  animation-name: ListPushFrontMove;
  animation-fill-mode: forwards;
}

